<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="6.1.1" targetFramework="net45" />
  <package id="Be.Windows.Forms.HexBox" version="1.6.1" targetFramework="net48" />
  <package id="ICSharpCode.SharpZipLib.dll" version="0.85.4.369" targetFramework="net48" />
  <package id="SlimDX" version="4.0.13.44" targetFramework="net48" />
  <package id="zlib.net" version="1.0.4.0" targetFramework="net48" />
</packages>