<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DAI.Mod.Maker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DAI.Mod.Maker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    
  </runtime>
  <userSettings>
    <DAI.Mod.Maker.Properties.Settings>
      <setting name="Language" serializeAs="String">
        <value>en</value>
      </setting>
      <setting name="GlobalMeshScale" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="BasePath" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultAuthor" serializeAs="String">
        <value />
      </setting>
      <setting name="ApplicationVersion" serializeAs="String">
        <value />
      </setting>
      <setting name="EbxShowOffsets" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EbxInvertGuid" serializeAs="String">
        <value>False</value>
      </setting>
    </DAI.Mod.Maker.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <DAI.Mod.Maker.Properties.Settings>
      <setting name="CacheVersion" serializeAs="String">
        <value>4</value>
      </setting>
    </DAI.Mod.Maker.Properties.Settings>
  </applicationSettings>
</configuration>